@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root{
        --text-primary: black;
        --text-secondary: gray;

        --bg-dark-primary: #1e293b;
        --bg-dark-secondary: #111827;
        --dark-text-primary: white;
        --dark-text-secondary: red;

        --light-box-shadow: rgb(200, 200, 200);
    }
}