body {
    color: red;
    background-color: black;
}

p {
    background-color: gray;
}

#heading {
    text-align: center;
}

.heading {
    text-align: start;
}

article, #heading {
    color: white ;
}